<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

        <!-- Разрешаем использование аннотаций Spring MVC (то есть @Controller и.т.д) -->
        <mvc:annotation-driven/>
        <!-- Указываем где будет гулять спринг, для поиска наших аннотация
        Т.е. указываем наш основной пакет -->
        <context:component-scan base-package="system"/>
        <mvc:view-controller path="/" view-name="quotas_page"/>
        <!-- Указываем папку для ресурсов -->
        <!--<mvc:resources mapping="/resouces/**" location="/resources/"/>-->
        <!--<mvc:resources mapping="/webjars/**" location="/webjars/"/>-->


        <bean id="resolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
                <property name="prefix" value="/WEB-INF/pages/"/>
                <property name="suffix" value=".jsp"/>
        </bean>

        <!-- QuoteDAO and QuoteDAOService beans-->
        <bean id="quoteDAO" class="system.DAO.QuoteDAOImpl">
                <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
        </bean>

        <bean id="quoteService" class="system.service.QuoteServiceImpl">
                <property name="quoteDAO" ref="quoteDAO"/>
        </bean>

        <tx:annotation-driven transaction-manager="transactionManager"/>

        <bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
                <property name="sessionFactory" ref="hibernate4AnnotatedSessionFactory"/>
        </bean>

</beans>